absl-py==1.0.0
affine==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
analytics-python==1.4.post1
anyio==3.6.2
anytree==2.12.1
argcomplete==3.2.1
argon2-cffi==21.1.0
argon2-cffi-bindings==21.2.0
arviz==0.15.1
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.2.0
audioread==2.1.9
Babel==2.9.1
backcall==0.2.0
backoff==1.10.0
basemap==1.4.0
basemap-data==1.3.2
bayesian-optimization==1.4.3
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==4.1.0
blinker==1.7.0
blis==0.7.5
bokeh==3.1.1
branca==0.7.0
Brotli==1.1.0
cachetools==4.2.4
cairocffi==1.6.1
CairoSVG==2.7.1
camelot-py==0.11.0
catalogue==2.0.6
certifi==2022.12.7
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.0
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cmudict==1.0.16
colorama==0.4.6
comm==0.2.1
compressed-rtf==1.0.6
contourpy==1.1.1
countryinfo==0.1.2
coverage==6.1.2
cryptography==41.0.7
cssselect2==0.7.0
cycler==0.11.0
cymem==2.0.6
Cython==0.29.24
databricks-sql-connector==3.0.1
debugpy==1.5.1
decorator==4.4.2
defusedxml==0.7.1
deprecat==2.1.1
dgl==1.1.3
dill==0.3.7
distro-info==1.0
dlib==19.24.2
dnspython==2.4.2
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.18
einops==0.7.0
email-validator==2.1.0.post1
entrypoints==0.3
ephem==4.1.5
et-xmlfile==1.1.0
exceptiongroup==1.2.0
exchange-calendars==4.2.8
execnet==2.0.2
executing==1.2.0
extract-msg==0.47.0
Faker==22.4.0
fastapi==0.95.1
fastjsonschema==2.19.1
fastprogress==1.0.3
ffmpeg-python==0.2.0
ffmpy==0.3.0
filelock==3.13.1
fire==0.5.0
Flask-CacheBuster==1.0.0
Flask-Cors==4.0.0
Flask-Login==0.6.3
flatbuffers==23.1.21
folium==0.15.1
fonttools==4.47.2
fpdf==1.7.2
frozenlist==1.3.3
fsspec==2021.11.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==4.3.2
geographiclib==2.0
geopandas==0.13.2
geopy==2.4.1
google-auth==2.3.3
google-auth-oauthlib==0.5
google-pasta==0.2.0
googletrans==2.4.0
gradio==3.27.0
graphviz==0.20.1
grpcio==1.48.2
gTTS==2.5.0
h11==0.14.0
h2==4.1.0
h5netcdf==1.1.0
h5py==3.10.0
hpack==4.0.0
hstspreload==2024.1.5
html5lib==1.1
httpcore==0.17.0
httptools==0.2.0
httpx==0.24.0
huggingface-hub==0.13.4
hyperframe==6.0.1
idna==3.1
imageio==2.33.1
imageio-ffmpeg==0.4.9
IMAPClient==3.0.1
imgkit==1.2.3
importlib-metadata==7.0.1
importlib-resources==5.13.0
iniconfig==1.1.1
ipykernel==6.5.0
ipython==7.34.0
ipython-genutils==0.2.0
isodate==0.6.1
itsdangerous==2.0.1
jax==0.4.13
jaxlib==0.4.13
jedi==0.18.0
jieba==0.42.1
Jinja2==3.0.3
joblib==1.2.0
json5==0.9.6
jsonlines==4.0.0
jsonpickle==3.0.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyterlab==2.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
keras==2.13.1
kerykeion==3.1.1
kiwisolver==1.3.2
korean-lunar-calendar==0.3.1
lazy_loader==0.3
libclang==16.0.6
librosa==0.8.1
llvmlite==0.36.0
loguru==0.7.2
lxml==5.1.0
Markdown==3.3.4
markdown2==2.4.12
markdownify==0.11.6
MarkupSafe==2.0.1
matplotlib==3.7.4
matplotlib-inline==0.1.3
matplotlib-venn==0.11.9
mistune==3.0.2
mizani==0.9.3
ml-dtypes==0.2.0
mne==1.6.1
monotonic==1.6
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.2
mtcnn==0.1.1
multidict==6.0.4
munch==4.0.0
murmurhash==1.0.6
mutagen==1.47.0
nashpy==0.0.40
nbclassic==1.0.0
nbclient==0.5.6
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.5.9
networkx==3.1
nltk==3.6.5
notebook==6.4.1
numba==0.53.1
numexpr==2.8.6
numpy==1.24.3
numpy-financial==1.0.0
oauthlib==3.1.1
odfpy==1.4.1
olefile==0.47
openai==0.28.1
opencv-python-headless==4.5.5.64
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.10
oscrypto==1.3.0
packaging==23.2
paddle-bfloat==0.1.7
paddlepaddle==2.6.0
pandas==1.5.3
pandocfilters==1.5.0
paramiko==3.4.0
parso==0.8.2
pathy==0.6.1
patsy==0.5.6
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20221105
pdfplumber==0.10.3
pdfrw==0.4
pexpect==4.8.0
pickleshare==0.7.5
pip==21.2.4
platformdirs==3.11.0
plotly==5.18.0
plotnine==0.12.4
pluggy==1.0.0
pooch==1.5.2
preshed==3.0.6
priority==2.0.0
proglog==0.1.10
prometheus-client==0.12.0
prompt-toolkit==3.0.38
pronouncing==0.2.0
protobuf==3.20.3
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycountry==23.12.11
pycparser==2.20
pycryptodome==3.20.0
pycryptodomex==3.20.0
pydantic==1.8.2
pydot==1.4.2
pydub==0.25.1
pydyf==0.8.0
Pygments==2.10.0
PyJWT==2.8.0
pylog==1.1
pyluach==2.2.0
pymc3==3.11.4
PyMuPDF==1.23.16
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pypandoc==1.12
pyparsing==2.4.7
PyPDF2==3.0.1
pyphen==0.14.0
pyproj==3.5.0
pyprover==0.6.2
pyshp==2.3.1
pyspark==3.5.0
pyswisseph==2.10.3.2
pytesseract==0.3.10
pytest==7.4.4
pytest-cov==4.1.0
pytest-json-report==1.5.0
pytest-metadata==3.0.0
pytest-timeout==2.2.0
pytest-xdist==3.5.0
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==0.19.2
python-multipart==0.0.6
python-pptx==0.6.23
pyttsx3==2.90
pytz==2021.3
pyunpack==0.3
PyWavelets==1.4.1
pyxlsb==1.0.10
pyzbar==0.1.9
pyzmq==25.0.0
qgis-plugin-ci==2.8.5
qrcode==7.4.2
rarfile==4.1
rasterio==1.3.9
rdflib==7.0.0
referencing==0.32.1
regex==2022.10.31
reportlab==4.0.9
requests==2.31.0
requests-oauthlib==1.3.0
requests-unixsocket==0.3.0
resampy==0.2.2
rfc3986==2.0.0
rpds-py==0.17.1
rsa==4.7.2
safetensors==0.4.1
scikit-image==0.21.0
scikit-learn==1.2.1
scipy==1.10.1
seaborn==0.13.1
semver==3.0.2
Send2Trash==1.8.2
sentencepiece==0.1.97
setuptools==69.0.3
shap==0.44.0
shapely==2.0.2
six==1.16.0
slicer==0.0.7
smart-open==5.2.1
sniffio==1.3.0
snowflake-connector-python==3.6.0
snuggs==1.4.7
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.3
soxr==0.3.7
spacy==3.2.0
spacy-legacy==3.0.8
SpeechRecognition==3.10.1
stack-data==0.6.2
starlette==0.26.1
statsmodels==0.14.1
svglib==1.5.1
svgwrite==1.4.3
sympy==1.12
tabula==1.0.5
tabulate==0.8.9
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.0
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.2.0
terminado==0.12.1
text-unidecode==1.3
textblob==0.17.1
Theano-PyMC==1.1.2
thinc==8.0.12
threadpoolctl==3.1.0
thrift==0.16.0
tifffile==2023.7.10
tinycss2==1.2.1
tokenizers==0.11.4
toml==0.10.2
tomli==1.2.2
toolz==0.12.0
torch==2.1.2
torchaudio==2.1.2
torchtext==0.16.2
torchvision==0.16.2
tornado==6.4
tqdm==4.65.0
traitlets==5.14.1
transformers==4.24.0
trimesh==4.0.10
typer==0.4.0
typing_extensions==4.5.0
tzdata==2023.4
tzlocal==5.2
ujson==5.9.0
urllib3==1.26.7
uvicorn==0.15.0
uvloop==0.16.0
Wand==0.6.13
wasabi==0.8.2
watchfiles==0.21.0
wcwidth==0.2.5
weasyprint==60.2
webencodings==0.5.1
websocket-client==1.7.0
websockets==10.0
Werkzeug==2.0.2
wheel==0.37.0
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
xarray==2023.1.0
xarray-einstats==0.5.1
xgboost==1.4.2
xlrd==2.0.1
XlsxWriter==3.1.9
xml-python==0.4.3
yarl==1.9.1
zipp==3.6.0
zopfli==0.2.3